/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

@font-face {
    font-family: 'droidsans';
    src: url('../fonts/DroidSansMono-webfont.eot');
    src: url('../fonts/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSansMono-webfont.woff') format('woff'),
         url('../fonts/DroidSansMono-webfont.ttf') format('truetype'),
         url('../fonts/DroidSansMono-webfont.svg#droid_sans_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,
button,
input,
select,
textarea {
    color: #040;
}

body {
    font-size: 1em;
    line-height: 1.4;
	text-shadow: 0 0 4px rgba(0,222,0,0.6);
}

::-moz-selection {
    background: #0f0;
	color: #030;
    text-shadow: none;
}

::selection {
    background: #0f0;
	color: #030;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #0a0;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

h1, h2, h3, h4 {
	
}

h2 {
	padding: 7px 15px 7px 5px;
	margin: 0;
	background: #0a0;
	color: #030;
	letter-spacing: -2px;
}

a, a:visited {
	color: #0c0;
    text-decoration: underline;
	text-shadow: 0 0 6px rgba(0,222,0,0.8);
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

a:hover {
	background: #0f0;
	color: #030;
    text-decoration: none;
	text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

a:active {
	color: #0a0;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body{
  scrollbar-base-color: #0c0;
  scrollbar-3dlight-color: #0a0;
  scrollbar-highlight-color: #0a0;
  scrollbar-track-color: #040;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #0a0;
  scrollbar-dark-shadow-color: #040;
}

::-webkit-scrollbar { width: 12px; height: 12px;}
::-webkit-scrollbar-button {  background-color: #0a0; }
::-webkit-scrollbar-track {  background-color: #0a0;}
::-webkit-scrollbar-track-piece { background-color: #040;}
::-webkit-scrollbar-thumb { background-color: #0c0; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #0a0;}}
::-webkit-resizer { background-color: #0a0;}

@-moz-document url-prefix(http://),url-prefix(https://) {
scrollbar {
   -moz-appearance: none !important;
   background: rgb(0,255,0) !important;
}
thumb,scrollbarbutton {
   -moz-appearance: none !important;
   background-color: rgb(0,0,255) !important;
}

thumb:hover,scrollbarbutton:hover {
   -moz-appearance: none !important;
   background-color: rgb(255,0,0) !important;
}

scrollbarbutton {
   display: none !important;
}

scrollbar[orient="vertical"] {
  min-width: 12px !important;
}
}



/* ===== AndroTransfer Styles ==================================================
   Author: George 'scar45' Merlocco
   ========================================================================== */

html {
	height: 100%;
}
   
body {
	font: 14px/18px droidsans, Consolas, Terminal, Monospace;
	color: #0a0;
	background: url(../images/body_bg.gif) repeat fixed;
}

.lens-flare {
	background: url(../images/lens_flare.png) no-repeat right -7px fixed;
	position: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;
}

/* ===================
    ALL: Console Theme
   =================== */

.header-container header a {
	text-decoration: none;
}

.footer-container,
.main aside {
}

.header-container,
.footer-container,
.main aside {
}

.title {
}

/* ==============
    MOBILE: Menu
   ============== */

header a {
	display: inline-block;
}

header a pre {
	font-size: 10px;
	line-height: 12px;
}

header .partners {
	display: none;
}

.footer-partners h2 {
	margin-bottom: 7px;
}

.footer-partners .inner-partners {
	padding: 5px 10px;
	margin: 5px 0 3px;
}

.footer-partners a {
	display: block;
	padding: 0;
	line-height: 20px;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}


.andro-column h2 {
	margin: 25px 0 0;
	line-height: 25px;
}

.andro-column ul {
	padding: 0 5px;
	overflow: auto;
}

.andro-column ul li {
	display: inline-block;
	line-height: 25px;
	margin: 2px 5px;
}

.andro-column ul li a {
	display: block;
}

.andro-column ul li.active a {
	background: #0f0;
	color: #030;
	text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.dir-message {
	margin: 15px 20px;
}

#choose-dev p {
	margin: 15px 20px;
}

#links p {
	line-height: 26px;
	margin: 0;
	padding: 0;
}

#links p#counttext {
	background: #0a0;
	color: #040;
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 4px rgba(0, 222, 0, 0.6);
	animation-name: glow;
	animation-delay: 0s;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
	/* Safari and Chrome: */
	-webkit-animation-name: glow;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;

}

@keyframes glow
{
from {background: #0a0; color: #040;text-shadow: 0 0 4px rgba(0, 222, 0, 0.6);}
to {background: none; color: #0a0;text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);}
}

@-webkit-keyframes glow /* Safari and Chrome */
{
from {background: #0a0; color: #040;text-shadow: 0 0 4px rgba(0, 222, 0, 0.6);}
to {background: none; color: #0a0;text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);}
}

.downloading-ad {
	margin: 15px 0;
}

#filelisting thead tr th {
	background: #080;
	color: #0d0;
	text-shadow: 0 0 0;
	cursor: pointer;
	font-size: 16px;
	letter-spacing: -1px;
	padding: 2px 20px 2px 2px;
}

#filelisting thead tr th.headerSortUp { 
    background: url(../images/sort_down.png) no-repeat right 2px center #0f0;
	color: #040;
} 

#filelisting thead tr th.headerSortDown { 
    background: url(../images/sort_up.png) no-repeat right 2px center #0f0; 
	color: #040;
} 

#filelisting tbody tr td {
	padding: 3px 10px;
	text-align: center;
}

#filelisting .dl-count {
	display: none;
}

#files table {
	width: 100%;
	margin: 0 0 50px 0;
}

#files .cell-perms, #files .cell-owner {
	display: none;
}

.footer-container {
	clear: both;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 92px;
	padding-top: 20px;
}

.footer-partners {
	display: block;
}


.footer-container .bottom-ad {
}

.footer-container h2 {
	margin: 0;
	padding: 7px 10px;
	font-size: 14px;
	letter-spacing: -1px;
}

.footer-container a {
	color: #000;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 380px) {

	header a pre {
		font-size: 13px;
		line-height: 12px;
	}

}

@media only screen and (min-width: 580px) {

	header a pre {
		font-size: 17px;
		line-height: 19px;
	}

}

@media only screen and (min-width: 768px) {

/* ====================
    >768px: CSS3 Effects
   ==================== */

    header .partners {
		display: inline-block;
		vertical-align: top;
		margin-left: 30px;
	}

   header a pre {
		font-size: 15px;
		line-height: 17px;
	}
	
	header .partners h2 {
		padding: 5px 7px;
		margin-bottom: 7px;
	}

	header .partners .inner-partners {
		padding: 5px 10px;
		margin: 5px 0 3px;
	}

	header .partners a {
		display: block;
		padding: 0;
		line-height: 20px;
	}

	.andro-column {
		float: left;
	}
	
	.andro-column h2 {
		margin: 0;
	}
	
	.andro-column ul {
		overflow: auto;
		padding: 0px 30px 15px 10px;
    }
	
	.andro-column ul li {
		display: block;
		line-height: 25px;
		margin: 0;
	}

	.footer-partners {
		display: none;
	}

}

@media only screen and (min-width: 960px) {

/* ====================
    >960px: CSS3 Effects
   ==================== */

	.header-container {
	}

    .andro-column {
		border: 0;
	}
		
	.andro-column ul li a {
		margin: 0 -30px 0 -20px;
		padding: 0 30px 0 20px;
	}
	
	#devs, #folders {
		position: relative;
		z-index: 10;
	}
	
	#folders {
	}
	
	#folders ul {
		padding: 15px 30px 15px 20px;
	}
	
	#files {
		height: 100%;
		float: none;
		display: inline-block;
	}
	
	#files h2 {
		margin: 0;
	}
		
	#files table {
		padding: 5px;
	}
	
	#files table tr td.dl-filename {
		text-align: left;
	}	
	
	#files table tr td.dl-count {
		padding-right: 60px;
	}

	#filelisting .dl-count {
		text-align: right;
		display: table-cell;
	}

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
	
	#files .cell-perms, #files .cell-owner {
		display: table-cell;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}